<% content_for :title, "Sign In" %>

<%= form_with url: session_path, class: "sm:mt-10 p-4 bg-white sm:mx-auto sm:w-full sm:max-w-md sm:rounded-md" do |form| %>
  <div class="space-y-4">
    <h1>Sign In</h1>
    <div class="space-y-2">
      <%= form.label :password, class: "block" %>
      <%= form.password_field :password, class: "w-full", autocomplete: "password" %>
    </div>

    <div>
      <%= form.submit "Sign In", class: "button-primary button-full" %>
    </div>
  </div>
<% end %>
