  <nav class="flex items-center space-x-4">
    <%= link_to "All Files", files_path, class: "underline text-blue-600 text-sm" %>
    <%= link_to "Settings", edit_profile_path, class: "underline text-blue-600 text-sm" %>
    <%= button_to "Sign out", session_path, method: :delete, class: "underline text-blue-600 text-sm", form: { data: { turbo_confirm: "Are you sure?" } } %>
  </nav>
